.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 1px solid grey;
  margin: 10%;
  overflow: hidden;
}
.list-parent {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 15px;
}

.heading-parent {
  background: #767676;
  text-align: center;
}
.heading {
  color: #fff;
}
.item-headings {
  text-align: center;
  font-size: 25px;
}

.item {
  max-height: 400px;
  overflow-y: scroll;
  border: 1px solid grey;
  padding: 15px;
}
