.main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cont {
  padding-top: 50px;
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
}
.list-parent {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.heading-parent {
  background: #767676;
  text-align: center;
}
.heading {
  color: #fff;
}
.item-headings {
  text-align: center;
  font-size: 25px;
}

.item {
  border: 1px solid grey;
  overflow: hidden;
}
.title {
  border-bottom: 1px solid grey;
}
.item-body {
  max-height: 400px;
  overflow-y: scroll;
}
.item-body li {
  margin-bottom: 10px;
}
.item-body li input {
  border: 0;
}
.item-body li input:focus,
.item-body li input:active {
  border: 1px solid blue;
}
.without-border-right {
  border-right: 0;
}
.title {
  padding: 10px;
  text-align: center;
}
